<h1>All Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <div class="item card-category", url(<%= list.photo.attached? ? cl_image_path(list.photo.key, height: 300, crop: :fill) : image_path('') %>)">
        <%= link_to list.name, list_path(list) %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to "New List", new_list_path, class: "btn btn-primary" %>
