@import "home";

.movie-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.movie-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.movie-poster {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movie-overview {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.movie-info {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;

  li {
    font-size: 1.1em;
    color: #333;
  }
}

.movie-back-button {
  margin: 10px;
  width: 150px;
}

.list-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.list-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.list-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movies-heading {
  font-size: 2em;
  margin-top: 30px;
  color: #333;
}

.movies-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;

  .movie-item {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  }

  .movie-link {
    color: #007bff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .remove-button {
    margin-left: 15px;
  }
}

.add-movie-button, .back-button, .delete-list-button {
  margin: 10px;
  width: 150px;
}
